.home{ 
    width: 50%;
    background-color: #D4AF37;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 9%;
}
.home:hover{
    width: 80%;
    transition: 0.5s;
    font-size: larger;
    zoom: 120%;
    margin: auto;
}
img{
    width: 25%;
    height: 25%;
}
img:hover{
    width: 30%;
    height: 30%;
    transition: 0.5s;
}
body{
    overflow-x: hidden;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
fieldset{
    background-color: #1a1a1a;
    border: 2px solid #D4AF37;
    border-radius: 15px;
    padding: 30px;
    width: 400px;

}
legend{
    color: #D4AF37;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}
label{
    color: white;
    font-weight: bold;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}
input{
    width: 100%;
    padding: 10px;
    border: 2px solid #D4AF37;
    border-radius: 8px;
    background-color: #111;
    color: white;
    font-size: 14px;
    outline: none;

}
input:focus{
    border-color: white;
    box-shadow: 0 0 40px #d4af37;
    transform: scale(1.05);/*shadow effect*/
}
button[Type="submit"]{
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: #D4AF37;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px ;
    cursor: pointer;
    transition: 0.3s;
}
button[type="submit"]:hover{
    background-color: white;
}
input[type="file"]{
    padding: 8px;
    background-color: #111;
    color: #D4AF37;
    border: 2px solid #D4AF37;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}
