*{
    font-family: "Roboto",sans-serif;
}
h2{
    color:black;
    margin: 0;
    padding: 10px;
}
button{
    color:#000000;
    font-family: 'Times New Roman', Times, serif;
    background-color: #6a6a70;
    padding-top:15px ; 
    padding-bottom:15px ;
    padding-right: 15px;
    border-radius: 10px;
    margin-left: 2% ;
}
header{ 
    padding-top:15px ; 
    padding-bottom:15px ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(162, 162, 143);
    background: rgba(128, 128, 128, 0.726);
}
nav button {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}
nav  button:hover {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 5px;
}
main{
    padding-top: 120px; 
    flex: 1;
}
body{
    display: flex;
    flex-direction: column;
    margin:0 ;
    padding: 0;
    background-image:url("images/bg5.jpg");
    background-repeat: repeat-x repeat-y;
    min-height: 100vh;
    margin: 0;
}
thead{
    background: #999898;
}

img{
    width:100%;
    height: 220px;
    border-radius: 20px;
    object-fit: cover;
}
.description{
    color :#000000;
    font-size:30px;
    font-weight: bold;
    list-style: none;
}
table{
    background-color: #ccd5cb8e;

}
.profil{
    width: 50px ;
    height: 50px;
    border-radius: 50%;
    position: cover;
    
}
.profildiv{
    position: relative;
    top: -40px;
    margin: 0 ;
    padding: 0;
}
a{
    color: rgb(88, 79, 101);
    position: cover;
}
#dropdown {
    display: none;
    list-style: none;
    background-color: #b0b8b561;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 999;
}
#dropdown li a {
    display: block;
    padding:12px  20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#dropdown li a:hover {
    background-color: black;
    color: #D4AF37;
}
head nav{
    display: flex;
    align-items: flex-start;
    gap : 20px;
}
footer{
    width: 100%;
    color: aliceblue;
    background-color: #000000;
    position: relative;
    padding: 40px 20px;
    text-align: center;
    
}
.ccontactimg{
    width: 20px ;
    height: 20px;
    border-radius: 50%;
    position: cover;
    margin: o auto;
    align-items: center;
}
.contacting{
    display: inline;
    width: 7% ;
    height:5% ;
    border-radius: 50px;
    margin: 2%;
}
.Quick-links{
    margin: 10px;
}
.me{
    margin-top: 10%;
    font-size: smaller;
    padding: 0px;
}